body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.topbar {
    background: #4285f4;
    color: white;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.topbar-left {
    display: flex;
    align-items: center;
    gap: 12px;
}

.topbar input {
    padding: 5px;
    width: 300px;
    border: none;
    border-radius: 4px;
}

.topbar-pfp {
    width: 24px;
    height: 24px;
    padding: 8px 12px;
    border-radius: 6px;
    border: none;
    background-color: #e0e0e0;
    color: #333;
    cursor: pointer;
}

.sidebar {
    background: #cccccc;
    width: 200px;
    height: 100vh;
    position: fixed;
    top: 84px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: left;
    padding-left: 44px;
    justify-content: flex-start;
}

.sidebar-item {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 12px;
    cursor: pointer;
    border-bottom: 2px solid #7382b1;
    margin-left: 42x;
    margin-right: 46px;
}

.sidebar-item:hover {
    background-color: #ceebff;
}

.main {
    margin-left: 200px;
    padding: 20px;
    margin-top: 50px;
}

.tabs {
    display: flex;
    border-bottom: 2px solid #ccc;
}

.tab {
    padding: 10px 20px;
    cursor: pointer;
    border-bottom: 3px solid transparent;
}

.tab.active {
    border-bottom: 3px solid red;
    font-weight: bold;
}

.email-list {
    margin-top: 10px;
}

.email-row {
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    padding: 12px 20px;
    border-bottom: 1px solid #eee;
    background: white;
    width: 100%;
    text-align: left;
    border: groove;
    border-width: 1px;
    cursor: pointer;
}

.email-row:hover {
    background-color: #f1f1f1;
}

.email-row span {
    display: inline-block;
}

.email-row .subject {
    font-weight: bold;
    margin-right: 10px;
    /* Prevents lines too long to display */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.email-row .body {
    margin-right: 10px;
    /* Prevents lines too long to display */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.top-group {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 18px;
}

.logo.top {
    width: 64px;
    height: 64px;
}

.create-button {
    background-color: #609dff;
    font-weight: bold;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    color: white;
    padding: 5px 16px;
    display: flex;
}

.create-button:hover {
    background-color: #acccff;
    cursor: pointer;
}